.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

.recipe-card {
  background-color: orange;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }
}

.recipe-card__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.recipe-card__description {
  font-size: 1rem;
  color: #777;
  margin-bottom: 0.5rem;
}
